
{% extends 'dashboard/basenav.html' %}
{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %} Add Data {% endblock %} </title> 
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/add.css' %}">
        
    {% endblock %}
   

    
    

</head> 
<body>
{% block body %}
<div class="table-responsive">
<form method="POST" enctype="multipart/form-data">
{% csrf_token %} 
<table class="table table-hover">
    {{ form.non_field_errors }} 
    <tr>
        {{ form.academic_years.errors }}
        
        <td width="20%"><h4><label for="{{ form.academic_years.id_for_label }}">Academic Year</label></h4></td>
        <td><h4>{{ form.academic_years }}</h4></td>           
    </tr>   
    
    <tr>
        {{ form.typeas.errors }}
        <td width="20%"><h4><label for="{{ form.typeas.id_for_label }}">Type</label></h4></td>
        <td><h4>{{ form.typeas }}</h4></td>           
    </tr>

    <tr>
        {{ form.modes.errors }}
        <td width="20%"><h4><label for="{{ form.modes.id_for_label }}">Modes</label></h4></td>
        <td><h4>{{ form.modes }}</h4></td> 
    </tr>

    <tr>
        {{ form.events.errors }}
        <td width="20%"><h4><label for="{{ form.events.id_for_label }}">Event</label></h4></td>
        <td><h4>{{ form.events }}</h4></td> 
        <td><h4>{{ form.coursera_types }}</h4></td> 
        <td><h4>{{ form.others }}</h4></td> 
    </tr>

    <tr>
        {{ form.topic.errors }}
        <td width="20%"><h4><label for="{{ form.topic.id_for_label }}">Topic</label></h4></td>
        <td><h4>{{ form.topic }}</h4></td> 
    </tr>

    <tr>
        {{ form.college_name.errors }}
        <td width="20%"><h4><label for="{{ form.college_name.id_for_label }}">Name of College</label></h4></td>
        <td><h4>{{ form.college_name }}</h4></td> 
    </tr>

    <tr>
        {{ form.start_date.errors }}
        <td width="20%"><h4><label for="{{ form.start_date.id_for_label }}">Start Date</label></h4></td>
        <td><h4>{{ form.start_date }}</h4></td> 
    </tr>

    <tr>
        {{ form.end_date.errors }}
        <td width="20%"><h4><label for="{{ form.end_date.id_for_label }}">End Date</label></h4></td>
        <td><h4>{{ form.end_date }}</h4></td> 
    </tr>

    <tr>
        {{ form.certificate.errors }}
        <td width="20%"><h4><label for="{{ form.certificate.id_for_label }}">Certificate</label></h4></td>
        <td><h4>{{ form.certificate }}</h4></td> 
    </tr>





</table>

<center><button class="btn btn-secondary border btn-outline-dark btn-lg" type ="Submit">Save</button></center>

</form>
</div>

{% block js_block %}
<script src="{% static 'js/adddata.js' %}"></script> 
{% endblock %}

{% endblock %}

</body>
</html>