{% load static %}
<!DOCTYPE html>
<head>
<title> Logout </title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{% static 'dashboard/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/logout.css' %}">
</head> 
<body>
<div class="container bg-primary">
<h2>

Enter your email address below. <br>
A link will be sent to your email to reset your password.


<form method="post">
    {% csrf_token %}
    {{form}} <br>
    <input type="Submit" class="btn btn-secondary border btn-outline-dark btn-lg" name="Send Mail">
</form>
</h2>
</div>


</body>
</html>