{% load static %}
<!DOCTYPE html>
<head>
<title> Password Change </title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{% static 'dashboard/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/logout.css' %}">
</head> 
<body>
<div class="container bg-primary">
<h1> <u>
Change your Password
</u></h1>
<hr>
    {% if form.errors %}
        <h5 class="alert alert-danger">Check your password</h5>
    {% endif %}

<form method="POST">
{% csrf_token %}
{% for form in form %}

    <h3>{{ form.label }}</h3>
    <h3>{{ form }}</h3>
{% endfor %}
<h3><input type="Submit" class="btn btn-secondary border btn-outline-dark btn-lg" name="Change Password"></h3>


</div>


</body>
</html>