.container{
    margin-top: 1%;
}

table{
    max-width: 95%;
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

th,td{
    text-align: center;
    border: 2px solid black;
   
}
th{
    max-width: 5%;
    width: 2%;
    background-color: LightPink ;
}
td{
    width: 5%;
}